/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.mulish-<uniquifier> {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
$accent-color: #458FF6;
$white-text-color: #FFFFFF;
$gradient-start-color: #5A98F2;
$gradient-end-color: #67C3F3;


*{
    margin: 0;
    padding: 0;
  }